body {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

textarea {
  width: 50%;
  height: 200px;
  margin: 10px 0;
}

.result {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.result div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  margin-top: 20px;
}

.list:last-of-type {
  margin-bottom: 20px;
}

.result .list span {
  margin: 5px;
}

.result span {
  margin-bottom: 15px;
}

.text {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.mock {
  width: 50%;
  height: 200px;
  margin: 20px auto;
}

.border {
  outline: 1px solid dodgerblue;
  outline-offset: 1px;
}
